
	<ul class="nav">
  <li class="nav-item">
    <h class="nav-link">Mongo Scraper</h>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/article">Articles</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/scrape">Scrape New Articles</a>
  </li>
  </ul>


<div id="wrapper">
  <div class="main-container">
    <div class="row">
      <div class="col 8">
        <h1>News ycombinator Scraping</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col md">

        <div id="articles"></div>
        <div id="notes"></div>
      </div>
    </div>
  </div>
</div>

    <div class="col-md-4 text-left">
        <div class="rightBurgers">
          <h2 class="heading">Old Favorites</h2>
          <ul>
            {{#each Articles}}
            <li>
              <p class="burgerType">{{this.burger_name}}</p>
              <form action="articles/delete/{{this.id}}?_method=DELETE" method="POST">
                <button class="btnDevour" type="submit">Delete it</button>
              </form>
            </li>
          
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>