.row {
    margin-right: -15px;
    margin-left: -15px;
    margin: 100px;
    margin-top: 10px;
    width: 500px;
}


 body {
    background: #FFFAFA;
} 
 .main-container {
    height: 200px;
    background-image: url("../images/images.jpg"); 
    min-height: 230px; 
     opacity: 1.5; 
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 


.nav {
    background:white;
    height: 55px;
    background-color: blue;
}
#article {
    margin-top: 20px;
    height: 96px;
    text-align: center;
   

} 




#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
    }
    